<app-title title="Control flow" showShadow/>
<section class="grid grid-col-1 md:grid-cols-2 gap-3">

    <div class="bg-white rounded shadow p-10">
        <h2 class="text-2xl font-bold mb-5">if :{{showContent()}}</h2>
        <button class="p-2 bg-blue-500 rounded text-white" (click)="toogleContent()"> Click me</button>
        @if (showContent()){
        <p>Hola mundo</p>
        }@else {
        <p>******</p>
        }
    </div>
    <div class="bg-white rounded shadow p-10">
        <h2>{{grade()}}</h2>
        @switch(grade()){
        @case ('A'){
        <p>Arriba de 90</p>
        }
        @case ('B'){
        <p>Arriba de 80</p>
        }
        @default{
        <p>Reprobado</p>
        }
        }
    </div>
    <div class="bg-white rounded shadow p-10">
        <ul>
            @for(framework of frameworks();track framework;let i=$index;let first=$first;let last=$last;let count=$count;let even=$even;let odd=$odd;){
            <li [class]="{'bg-red-100':even && !first && !last,
                        'bg-yellow-100':odd && !first && !last,
                        'bg-purple-200':first || last,
                            }">{{i+1}} de {{count}}.-{{framework}}</li>
            }
        </ul>
       


    </div>
    <div class="bg-white rounded shadow p-10">
        <ul>
            @for(framework of frameworks2();track framework){
            <li>{{framework}}</li>
            }
            @empty {
            <div class="bg-red-600 text-white rounded shadow p-2 mt-2">
                No hay frameworks
            </div>
            }

        </ul>
    </div>

</section>